<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="p-name">
        <div class="product-img">
            <img src="" alt="Product image">
        </div>

        <div class="product-name">
            <h2><%- product.productName %></h2>
            
        </div>
        
    </div>

    <div class="description">
        <p><%- product.description %></p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>