<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <!-- products Hero Section -->
    <section class="hero products-hero">
        <div class="hero-content">
            <h2>Products</h2>
            <p>Browse our various products and varieties</p>
        </div>
    </section>

    <!-- products List Section -->
     <main>
        <div class="products body">
        

            <% if(products.length > 0){ %>
                <% products.forEach(product => { %> 
    
                    <a href="/products/<%= product._id %>">
                        <div class="product-item">
                            <div class="product-image">
                            </div>
                            <span class="item-name"><%= product.productName %></><br>
                            <span class="item-price">$<%= product.price %></span><br>
                            <span class="item-rating"><%= product.rating %> star</span>
                            <br>
                            <div class="button">
                                <button>+</button>
                                <button>-</button>
                            </div>
                            
                        </div>
                    </a>
    
                    
                    
                <% }) %>
            <% } else{ %> 
            
                <p>There are no products to display.....</p>
    
            <% } %>
    
        </div>
     </main>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html> 